DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=gmicloud

HOST=http://localhost:8080

DISCORD_LOGIN_CLIENT_ID=
DISCORD_LOGIN_CLIENT_SECRET=

ANALYTICS=false
ANALYTICS_ID=

PLATFORM_TITLE=GMI Scores
PLATFORM_DESCRIPTION=Online services for your games
LOGO=assets/images/logo.svg
LOGO_WIDTH=179
LOGO_HEIGHT=184

LOGIN_CALLBACK=http://localhost:8080/api/v1/gmi-login.php
PLAYER_LOGIN_CALLBACK=http://localhost:8080/player_auth/discord/callback.php

COOKIE_KEY=
COOKIE_DOMAIN=

RECAPTCHA_KEY=
RECAPTCHA_SECRET=

HTTPS_REDIRECT=false

MAINTENANCE=false
MAINTENANCE_MESSAGE=Il portale è in manutenzione. Alcune funzionalità potrebbero non essere disponibili.

APP_ENV=production
