DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=gmiscores

HOST=http://localhost:8080

DISCORD_LOGIN_CLIENT_ID=
DISCORD_LOGIN_CLIENT_SECRET=

ANALYTICS=false
ANALYTICS_ID=

PLATFORM_TITLE=GMI Scores
PLATFORM_DESCRIPTION=Online leaderboard for your games, hosted by GMI
LOGO=assets/images/logo.svg
LOGO_WIDTH=179
LOGO_HEIGHT=184

LOGIN_CALLBACK=http://localhost:8080/api/v1/gmi-login.php

COOKIE_KEY=
COOKIE_DOMAIN=

RECAPTCHA_KEY=
RECAPTCHA_SECRET=

HTTPS_REDIRECT=false

MAINTENANCE=false
MAINTENANCE_MESSAGE=Il portale è in manutenzione. Alcune funzionalità potrebbero non essere disponibili.
